.body {
  margin: 0;
}
.header,
.main {
  width: 100%;
  float: left;
}
.header {
  display: flex;
  align-items: center;
  background-color: rgb(168, 250, 86);
  box-shadow: 5px 8px 8px rgb(255, 46, 46);

  z-index: 10px !important;
}
.header .logo {
  width: 300px;
  float: left;
  padding: 20px;
}
.header .logo img {
  width: 100%;
}
.header .menu {
  width: 100%;
  float: left;
  margin-right: 20px;
  padding: 5px 30px;
}
.header .menu .menu-list {
  list-style: none;
  float: right;
}
.header .menu .menu-list .list-item {
  display: inline;
}
.header .menu .menu-list .list-item .list-link {
  text-decoration: none;
  color: rgba(247, 243, 243, 0.9);
  padding: 10px 10px;
  background-color: rgb(4, 61, 4);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0.5rem;
}
.header .menu .menu-list .list-item .list-link:hover {
  background-color: red;
  color: white;
}
.slider img {
  width: 100%;
  margin: 10px;
  /* box-shadow: 5px 10px 4px rgb(55, 61, 3); */
}
.main .main-category {
  width: 20%;
  height: 935px;
  float: left;
  margin: 10px;
  margin-top: 140px;
  background-color: rgb(191, 247, 136);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(33, 53, 3);
}
.main .main-category .main-category-title {
  color: rgb(4, 61, 4);
  text-align: center;
  padding-top: 20px;
}
.main .main-category li {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 20px;
}
.main .main-category li a:hover {
  color: brown;
}
.main .main-category li a {
  color: green;
  font-size: 25px;
  font-weight: 900px;
  text-decoration: none;
}
.main .main-product {
  width: 70%;
  float: left;
  /* background-color: rgb(199, 104, 120); */
  margin-left: 30px;
}
.main .main-product h2 {
  font-size: 40px;
  color: rgb(4, 61, 4);
  text-align: center;
}
.main .main-product .main-product-header hr {
  color: red;
  height: 3px;
  background-color: red;
}

.main .main-product-pro div {
  width: 200px;
  float: left;
  padding: 10px;
  margin-top: 20px;
  margin-right: 13px;
  background-color: rgb(191, 247, 136);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(33, 53, 3);
}
.main .main-product-pro div img {
  width: 200px;
  height: 100px;
  float: left;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgb(33, 53, 3);
}
.main .main-product-pro div h3 {
  margin-top: 5px;
}
.main .main-product .main-slider img {
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgb(44, 15, 5);
}

.category .main-product-pro {
  width: 100%;
  float: left;
  margin: 2rem;
}
.category .main-product-pro h2 {
  font-size: 40px;
  color: rgb(4, 61, 4);
  text-align: center;
  margin-top: 0px;
}
.category .main-product-pro div {
  width: 250px;
  float: left;
  padding: 20px;
  margin-top: 20px;
  margin-right: 30px;
  background-color: rgb(191, 247, 136);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(33, 53, 3);
}
.category .main-product-pro hr {
  background-color: red;
  height: 4px;
}
.category .main-product-pro div img {
  width: 250px;
  height: 200px;
  float: left;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px rgb(33, 53, 3);
}
.category .main-product-pro h3{
  color: rgb(4, 61, 4);
  font-size: 25px;

}
.category .main-product-pro a{
 color: red;
 text-decoration: none;
 font-size: 18px;
}
.main .main-product-pro div a {
  text-decoration: none;
  font-size: 18px;
  color: red;
}
.main .main-product-pro div h3 {
  font-size: 25px;
  color: rgb(33, 53, 3);
}
.main .main-product-pro div p {
  font-size: 14px;
}

.search div img {
  width: 100%;
  height: 50%;
  float: left;
  margin-top: 20px;
  box-shadow: 5px 5px 5px rgb(33, 53, 3);

}

.search input {
  width: 30%;
  height: 50px;
  position: relative;
  transform: translate(100%, -200%);
  font-size: 30px;
}
.search h2 {
  width: 10%;
  background-color: rgb(4, 61, 4);
  position: absolute;
  padding: 8px 50px;
  transform: translate(60%, -250%);
  color: white;
  text-align: center;
  font-size: 30px;
}

.search a {
  width: 10%;
  background-color: red;
  padding: 8px 50px;
  position: absolute;
  transform: translate(180%, -200%);
  color: white;
  font-size: 30px;
  background-color: rgb(4, 61, 4);
  text-align: center;
  text-decoration: none;
}
.search a:hover {
  background-color: greenyellow;
  color: rgb(4, 61, 4);
}
.search-two img {
  width: 100%;
  float: left;
}
.footer {
  background-color: rgb(4, 61, 4);
  width: 100%;
  float: left;
  height: 200px;
  margin-top: 20px;
}
.footer div {
  width: 100%;
  float: left;
  padding: 20px;
}
.footer .footer-logo,
.footer .footer-menu,
.footer .footer-map,
.footer .footer-iletisim,
.footer-social,
.footer .footer-social-list {
  width: 20%;
  float: left;
  color: white;
}
.footer .footer-logo img {
  width: 120px;
  height: 70px;
}
.footer .footer-logo h3 {
  margin: 0px;
  color: rgb(191, 247, 136);
}
.footer .footer-logo p {
  margin: 0px;
  margin-top: 5px;
  font-size: 14px;
}
.footer .footer-menu {
  margin-left: 20px;
}
.footer .footer-map {
  padding-left: 0px;
}
.footer .footer-menu .footer-menu-list {
  margin-top: 0px;
}
.footer .footer-menu .footer-menu-list li {
  font-size: 25px;
  list-style: none;
}

.footer .footer-menu .footer-menu-list .list-item a {
  text-decoration: none;
  color: rgb(191, 247, 136);
}
.footer .footer-menu .footer-menu-list .list-item a:hover{
  color: red;
}
.footer .footer-iletisim {
  color: rgb(191, 247, 136);
  float: left;
  font-size: 20px;
  margin-left: 40px;
}
.footer .footer-iletisim .footer-adress a{
color: rgb(191, 247, 136);
text-decoration: none;
list-style: none;
}
.footer .footer-iletisim .footer-adress a:hover{
  color: red;
}

.footer .footer-iletisim-social .footer-social-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 30px;
  font-size: 50px;
  margin-top: 5px;
  
}
.footer .footer-iletisim-social .footer-social-list a{
  color: rgb(191, 247, 136);
}
.footer .footer-iletisim-social .footer-social-list a:hover{
  color: red;
}

.copy {
  background-color: grey;
  width: 100%;
  float: left;
  height: 50px;
}
